<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
</head>

<body style="background:#0b132b; color:white; font-family:Arial; text-align:center;">

    <h1>Campaign Dashboard</h1>

    <div style="margin:20px;">
        <h3>Total Campaigns: {{ total }}</h3>
        <h3 style="color:green;">Approved: {{ approved }}</h3>
        <h3 style="color:red;">Rejected: {{ rejected }}</h3>
        <h3>Average Trust Score: {{ avg_score }}</h3>
    </div>

    <table border="1" cellpadding="10" style="margin:auto; background:#1c2541;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Trust Score</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for c in campaigns %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>₹{{ c.amount }}</td>
            <td>{{ c.trust_score }}</td>
            <td>
                {% if c.status == "Approved" %}
                <span style="color:lime;">Approved</span>
                {% elif c.status == "Rejected" %}
                <span style="color:red;">Rejected</span>
                {% else %}
                <span style="color:orange;">Pending</span>
                {% endif %}
            </td>
            <td>
                {% if c.status == "Pending" %}
                <a href="/approve/{{ c.id }}">Approve</a>
                |
                <a href="/reject/{{ c.id }}">Reject</a>
                {% else %}
                ---
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <br><br>
    <a href="/logout" style="color:red;">Logout</a>

</body>

</html>