<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
</head>

<body style="background:#0f172a; color:white; font-family:sans-serif;">

    <h2>Campaign Dashboard</h2>

    <div>
        <p>Total: {{ total }}</p>
        <p>Approved: {{ approved }}</p>
        <p>Rejected: {{ rejected }}</p>
        <p>Pending: {{ pending }}</p>
        <p>Average Trust Score: {{ avg_score }}</p>
    </div>

    <hr>

    <form method="GET">
        <input type="text" name="search" placeholder="Search by name" value="{{ search }}">

        <select name="status">
            <option value="">All Status</option>
            <option value="Pending" {% if status_filter=="Pending" %}selected{% endif %}>Pending</option>
            <option value="Approved" {% if status_filter=="Approved" %}selected{% endif %}>Approved</option>
            <option value="Rejected" {% if status_filter=="Rejected" %}selected{% endif %}>Rejected</option>
        </select>

        <button type="submit">Filter</button>
    </form>

    <br>

    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Trust Score</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for c in campaigns %}
        <tr>
            <td>{{ c.name }}</td>
            <td>₹{{ c.amount }}</td>
            <td>{{ c.trust_score }}</td>
            <td>{{ c.status }}</td>
            <td>
                {% if c.status == "Pending" %}
                <a href="/approve/{{ c._id }}">Approve</a> |
                <a href="/reject/{{ c._id }}">Reject</a>
                {% else %}
                ---
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/logout">Logout</a>

</body>

</html>